ADMIN_FIRST_NAME=
ADMIN_LAST_NAME=
ADMIN_NATIONAL_ID=
ADMIN_PASSWORD=
ADMIN_PHONE=
ADMIN_USERNAME=
APP_DEBUG=
APP_ENV=
APP_FAKER_LOCALE=
APP_FALLBACK_LOCALE=
APP_KEY=
APP_LOCALE=
APP_MAINTENANCE_DRIVER=
APP_NAME=
APP_TIMEZONE=
BCRYPT_ROUNDS=
BROADCAST_CONNECTION=
CACHE_PREFIX=
CACHE_STORE=
CORS_ALLOWED_ORIGINS=
DB_CONNECTION=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
FILESYSTEM_DISK=
LARAVEL_API_URL=
LOG_CHANNEL=
LOG_DEPRECATIONS_CHANNEL=
LOG_LEVEL=
LOG_STACK=
MEMCACHED_HOST=
NATIONAL_ID_STRICT_VALIDATION=
QUEUE_CONNECTION=
SANCTUM_STATEFUL_DOMAINS=
SESSION_DOMAIN=
SESSION_DRIVER=
SESSION_ENCRYPT=
SESSION_LIFETIME=
SESSION_PATH=
VITE_API_URL=
VITE_NATIONAL_ID_STRICT_VALIDATION=